// font-family
$font-family: serif;

// font-size
$font-size__36: 36px;
$font-size__24: 24px;
$font-size__20: 20px;
$font-size__16: 16px;
$font-size__14: 14px;
$font-size__12: 12px;
$font-size__11: 11px;
$font-size__10: 10px;
$font-size__9: 9px;

// font-weight
$font-weight__100: 100;
$font-weight__200: 200;
$font-weight__300: 300;
$font-weight__400: 400;
$font-weight__500: 500;
$font-weight__600: 600;
$font-weight__700: 700;
$font-weight__800: 800;
$font-weight__900: 900;